<div class="jumbotron">
  <h1 class="display-4">Welcome to MonsterShop</h1>
  <p class="lead">Where the Monsters Go.</p>
  <hr class="my-4">
  <p>Enjoy monster savings!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/items" role="button">Start Here</a>
  </p>
</div>
