<h1>Addresses</h1>

<% @user.addresses.map do |address_info| %>
  <p>Street: <%= address_info.address %></p>
  <p>City: <%= address_info.city %></p>
  <p>State: <%= address_info.state %></p>
  <p>Zip: <%= address_info.zip %></p>

<% end %>
